<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "MOT-logo.svg" %>
  <% end %>

  <div class="nav-list">
    <%= link_to "Home", "/", class: "nav-link" %>
    <%= link_to "Browse", "/market", class: "nav-link" %>
    <%= link_to "Categories", "#", class: "nav-link" %>
    <%= link_to "How it works", "#", class: "nav-link" %>
  </div>

<%#   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse collapse-style" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-list pr-2">
          <% if policy(Market).create? %>
            <%= link_to "New offer/request", new_market_path %>
          <% end %>
        </li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle login-img", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <li class="nav-item dropdown login-dd">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Create an offer", "#", class: "dropdown-item" %>
            <%= link_to "My offers", "#", class: "dropdown-item" %>
            <%= link_to "My profile", "/dashboard", class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn-line-red login" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
