<div class="banner banner-content" id="banner-img">
  <div class="banner-text">
      <h1>Some catchy phrase <br>to get the users <br>attention.</h1>
      <%= link_to "Search", "#", class: "btn-solid-red" %>
  </div>

  <div class="container">
    <div>
      <h2>Discover our wonderful offers</h2>
    </div>
    <div class="filter-container">
      <%= link_to "Remote", "#", class: "filter-links" %>
      <%= link_to "Recommended", "#", class: "filter-links" %>
      <%= link_to "New", "#", class: "filter-links" %>
      <%= link_to "Staff pick", "#", class: "filter-links" %>
    </div>

    <div class="four-cards">
      <div class="card-trip">
        <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
        <div class="card-trip-infos">
          <div class= "card-title">
            <h2>Title here</h2>
            <h2>Time Here</h2>
          </div>
          <div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <p>Description here!</p>
          </div>
          <%= link_to "See details", "#", class: "btn-line-red card-btn" %>
          <br>
        </div>
      </div>

      <div class="card-trip">
        <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
        <div class="card-trip-infos">
          <div class= "card-title">
            <h2>Title here</h2>
            <h2>Time Here</h2>
          </div>
          <div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <p>Description here!</p>
          </div>
          <%= link_to "See details", "#", class: "btn-line-red card-btn" %>
          <br>
        </div>
      </div>

      <div class="card-trip">
        <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
        <div class="card-trip-infos">
          <div class= "card-title">
            <h2>Title here</h2>
            <h2>Time Here</h2>
          </div>
          <div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <p>Description here!</p>
          </div>
          <%= link_to "See details", "#", class: "btn-line-red card-btn" %>
          <br>
        </div>
      </div>

      <div class="card-trip">
        <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
        <div class="card-trip-infos">
          <div class= "card-title">
            <h2>Title here</h2>
            <h2>Time Here</h2>
          </div>
          <div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <p>Description here!</p>
          </div>
          <%= link_to "See details", "#", class: "btn-line-red card-btn" %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<div class="img-left">
<div class="container">
  <div class="headline">
    <h2>How it works</h2>
  </div>
    <div class="description">
      <div class="details">
        <h2>Take a look at our offers</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <%= link_to "Explore", "#", class: "btn-line-red" %>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
      </div>

    <div class="description">
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
      <div class="details">
        <h2>Take a look at our offers</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <%= link_to "Explore", "#", class: "btn-line-red" %>
      </div>
      </div>
</div>

<div class="img-right">
<div class="container">
    <div class="description">
      <div class="details">
        <h2>Take a look at our offers</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <%= link_to "Explore", "#", class: "btn-line-red" %>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
      </div>


   </div>
   </div>
   </div>
