<div class="banner banner-content animate__animated animate__fadeIn animate__slower" id="banner-img">
  <div class="banner-text">
    <div><h1>Some catchy phrase <br>to get the users <br>attention.</h1></div>
    <div class= "animate__animated animate__shakeX animate__delay-5s"><%= link_to "Search", "/markets", class: "btn-solid-red" %></div>
  </div>

  <div class="container">
    <div class="headline">
      <h2 class= "">Discover our wonderful offers</h2>
    </div>
    <div class="filter-container">
      <%= link_to "Remote", "#", class: "filter-links" %>
      <%= link_to "Recommended", "#", class: "filter-links" %>
      <%= link_to "New", "#", class: "filter-links" %>
      <%= link_to "Staff pick", "#", class: "filter-links" %>
    </div>

    <div class="four-cards">
      <% markets = Market.limit(4).order("RANDOM()") %>
      <% markets.each do |market| %>
        <div class="card-trip">
          <%= market.image %>
          <div class="card-trip-infos">
            <div class= "card-title">
              <%= link_to market.title, market_path(market) %>
              <h3>Time Here</h3>
            </div>
            <div>
              <i class="fas fa-heart card-trip-user"></i>
              <p><%= market.description %></p>
            </div>
            <%= button_to "See Details", market_path(market), :class => "btn-line-red", :method => :get %>
            <br>
          </div>
        </div>
      <% end  %>
    </div>

  </div>

</div>



<br><br><br>
<div class="img-left-small">
  <div class="container">
    <div class="headline">
      <h2>How it works</h2>
    </div>
    <div class="description">
      <div class="details text-left">
        <h2>Take a look at our offers</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <div class="center-btn"> <%= link_to "Explore", "#", class: "btn-line-red" %></div>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
    </div>
  </div>
</div>

<div class="img-left">
  <div class="container">
    <div class="description">
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
      <div class="details text-right">
        <h2>Take a look at our offers</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <div class="center-btn"><%= link_to "Explore", "#", class: "btn-line-red" %></div>
      </div>
    </div>
  </div>
</div>



<div class="img-right">
  <div class="container">
    <div class="description">
      <div class="details text-left">
        <h2>Take a look at our offers</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <div class="center-btn"><%= link_to "Explore", "#", class: "btn-line-red" %></div>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
    </div>
  </div>
</div>
