<div class="banner banner-content" id="banner-img">
  <div class="banner-text animate__animated animate__fadeIn animate__slower">
    <h1>Swap time <br>for time</h1>
    <h2>Earn knowledge and good karma.</h2>
    <div class= "animate__animated animate__shakeX animate__delay-5s"><%= link_to "Search", "/markets", class: "btn-solid-red" %></div>
  </div>
  <div><i class="fas fa-chevron-down chevron animate__animated animate__bounce animate__slow animate__infinite"></i></div>
  <div class="container">
    <div class="headline">
      <h2>Discover our wonderful offers</h2>
    </div>
    <div class="filter-container">
      <%= link_to "Remote", "#", class: "filter-links" %>
      <%= link_to "Recommended", "#", class: "filter-links" %>
      <%= link_to "New", "#", class: "filter-links" %>
      <%= link_to "Staff pick", "#", class: "filter-links" %>
    </div>

    <div class="four-cards">
      <% markets = Market.limit(4).order("RANDOM()") %>
      <% markets.each do |market| %>
        <div class="card-trip">
         <% if market.photo.attached? %>
        <%= cl_image_tag "#{market.photo.key}" %>
        <% else %>
        <%= image_tag "#{market.image}" %>
      <% end %>
          <div class="card-trip-infos">
            <div class= "card-title">
              <div class="title-link"><%= link_to market.title, market_path(market) %></div>
            </div>
            <div>
              <i class="fas fa-heart card-trip-user"></i>
              <%# <p><%= market.description %></p>
            </div>
            <%= button_to "See Details", market_path(market), :class => "btn-line-red card-btn", :method => :get %>
            <br>
          </div>
        </div>
      <% end  %>
    </div>

  </div>

</div>



<br><br><br>
<div class="img-left-small">
  <div class="container">

    <div class="headline">
    <a name="howitworks"></a>
      <h2>How it works</h2>
    </div>
    <div class="description">
      <div class="details text-left">
        <h2>Take a look at our offers</h2>
        <p>If you browse through the offers, you will find a wide range of services in all the main categories. Every user can offer her/his individual service here to swap her/his time. Click on the details to read the creators' description. If you're interested in the offer, just send a message and wait for her/his reply.</p><br>
        <div id="landing-button"> <%= link_to "Explore", "#", class: "btn-line-red" %></div>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
    </div>
  </div>
</div>

<div class="img-left">
  <div class="container">
    <div class="description">
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
      <div class="details text-right">
        <h2>Offer your time and skills to others</h2>
        <p>Create your own offer and become an active member of this amazing community. Just click on your avatar on the top right corner, choose "Create an offer" and the rest is as easy as it gets. Pick a title for your offer, write a short description, upload a picture and here it is - your first service on matter-of-time. Now sit back, have a cup of tea and wait for the requests coming in.</p>
        <div class="center-btn"><%= link_to "Create offer", "#", class: "btn-line-red" %></div>
      </div>
    </div>
  </div>
</div>



<div class="img-right">
  <div class="container">
    <div class="description">
      <div class="details text-left">
        <h2>Handshake</h2>
        <p>Since we are all buddies here and mutual trust is a major part of this platform, we agree on a booked offer via "handshake". So once you have agreed with someone requesting your service, you offer her or him a handshake (button). Your counterpart will receive the option to then confirm the handshake via the same method. Should something come inbetween and lead to a cancellation, you both can text and update each other.</p>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
    </div>
  </div>
</div>
