<div class="container mt-5">

  <h1 class="text-center">Overview</h1>

  <div class="d-flex justify-content-center">

    <div class="filter">
      <h4>Filter by category:</h4>
        <%= form_tag markets_path, method: :get do %>
          <%= select_tag :category, options_for_select(['', 'Animals','Music','Plants', 'Handywork', 'Concerts', 'Transportation', 'Crafts', 'Sports', 'Education', 'Circus', 'Film & Photography', 'Baking & Cooking']) %>
        <%= submit_tag "Filter", class: "btn-solid-red" %>
      <% end %>
    </div>

  </div>
</div>

  <%# <% @markets.each do |market|  %>
  <%# <div class="card-product">

    <% if market.photo.attached? %>
      <%# <%= cl_image_tag(market.photo.key, width: 400, height: 300, crop: :fill) %>
    <%# <% elsif market.avatar? %>
      <%# <%= image_tag(market.avatar, width: 400, height: 300, crop: :fill)  %>
    <%# <% end %>
    <%# <div class="card-location"> %>
      <%# <a href="#"><i class="fas fa-map-marker-alt"></i>  0.3 km</a> %>
    <%# </div> %>
    <%# <div class="card-product-infos"> %>
      <%# <%= link_to market.title, market_path(market), class:"" %>
      <%# <br> %>
    <%# <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem et nesciunt sapiente repellat facilis sed explicabo eligendi mollitia deleniti cum quasi incidunt, consequatur at commodi fugit? Inventore beatae error hic.</p> %>
      <%# <%= link_to "See more >", market_path(market) %>
    <%# </div> %>
  <%# </div> %>
  <%# <% end  %>



<%# For editing offers/requests  %>
    <%# <% @markets.each do |market| %>
      <%# <% if policy(market).edit? %>
        <%# <%= link_to "Update", edit_market_path(market) %>
      <%# <% end %>
    <%# <% end %>

    <%# search form %>
