<div class="container">

  <h1 class="text-center">Overview</h1>

  <div class="index-top">
    <div class="search-form">
        <div class="search-input"><%= form_tag markets_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What are you looking for?"%></div>
          <div><%= submit_tag "Search", class: "btn-line-red" %></div>
        <% end %>
    </div>
    <div class="filter">
        <div class="filter-dd"><%= form_tag markets_path, method: :get do %>
          <%= select_tag :category, options_for_select(['Choose category', 'Animals','Music','Plants', 'Handywork', 'Concerts', 'Transportation', 'Crafts', 'Sports', 'Education', 'Circus', 'Film & Photography', 'Baking & Cooking']) %></div>
        <div><%= submit_tag "Filter", class: "btn-line-red" %></div>
      <% end %>
    </div>
  </div>
  </div>


  <div class="img-left">
  <div class="container">
  <div class="index-cards">
    <% @markets.each do |market| %>
    <div class="card-trip">

      <%# if market.photo.attached? %>
        <%#= cl_image_tag(market.photo.key, width: 400, height: 300, crop: :fill) %>
      <%# elsif market.avatar? %>
        <%#= image_tag(market.avatar, width: 400, height: 300, crop: :fill)  %>
      <%# end %>
      <%# <div class="card-location"> %>
        <%# <a href="#"><i class="fas FA-map-marker-alt"></i>  0.3 km</a> %>
      <%# </div> %>

      <%# placeholder image %>
      <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
      <%# placeholder image %>
      <div class="card-trip-infos">
        <div class="card-title">
          <h3 class="title-link"><%= link_to market.title, market_path(market) %></h3>
          <h3>Time Here</h3>
        </div>
            <div>
              <i class="fas fa-heart card-trip-user"></i>
              <p><%= market.description %></p>
            </div>
            <%= button_to "See Details", market_path(market), :class => "btn-line-red card-btn", :method => :get %>
            <br>
          </div>
        </div>
    <% end  %>
  </div>
  </div>
</div>
</div>
<%# For editing offers/requests  %>
    <%# <% @markets.each do |market| %>
      <%# <% if policy(market).edit? %>
        <%# <%= link_to "Update", edit_market_path(market) %>
      <%# <% end %>
    <%# <% end %>
