<div class="container">
  <div class="show-card">

    <div class="card-images">
      <div class="large-image">
        <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
      </div>
    </div>

    <div class="all-infos">
      <h2><%= @market.title %></h2>
      <i class="fas fa-map-marker-alt short-info"></i>  Friedrichstr. 31, 10732 Berlin <br>
      <i class="fas fa-clock short-info"></i>  60 Minutes<br>
      <i class="fas fa-user short-info"> </i>  <%= @market.user.first_name %> <%= @market.user.last_name %>

      <p><%= @market.description %></p>
      <div class="market-buttons">
        <!-- Button trigger modal -->
        <% if @booking.present? %>
          <div>
            <h5>You have already requested a booking.</h5>
            <p>Please move to <%= link_to "dashboard", dashboard_index_path %> to view your messages.</p>
          </div>
        <% else %>
          <button type="button" class="btn-solid-red" data-toggle="modal" data-target="#exampleModal">
            Write a message
          </button>


        <%= render "markets/modal", market: @market, booking: @booking %>
        <% end %>

        <div><%= link_to "#" do %>
            <i class="fas fa-heart btn-line-red"> Save</i>
        <% end %></div>
      </div>
    </div>
  </div>


  <div class="headline">
    <h2 class= "">Other offers you might like</h2>
  </div>
  <div class="four-cards">

      <% markets = Market.limit(4).order("RANDOM()") %>
      <% markets.each do |market| %>
        <div class="card-trip">
          <%= image_tag "image-from-rawpixel-id-2627377-original.jpg" %>
          <div class="card-trip-infos">
            <div class= "card-title">
              <%= link_to market.title, market_path(market) %>
              <h3>Time Here</h3>
            </div>
            <div>
              <i class="fas fa-heart card-trip-user"></i>
              <p><%= market.description %></p>
            </div>
            <%= button_to "See Details", market_path(market), :class => "btn-line-red", :method => :get %>
            <br>
          </div>
        </div>
      <% end  %>
    </div>
</div>
