<div class="container mt-5">
  <br>
  <div class="">
    <h1>
      <%= @market.title %>.
    </h1>
    <div class="">
      <div>
        <%# if @market.photo.attached? %>
          <%#= cl_image_tag(@market.photo.key, width: 400, height: 300, crop: :fill) %>
        <%# elsif @market.avatar? %>
          <%#= image_tag(@market.avatar, width: 400, height: 300, crop: :fill)  %>
        <%# end %>
      </div>
      <div class="">
        <p><%= @market.description %></p>
        <div class="">
          <%= link_to 'Send Message', new_market_booking_message_path(@market, @booking), class: "btn" %>
        </div>
      </div>
    </div>

    <%# horses-map %>
    <%#div id="map"
      style="width: 100%; height: 500px; box-shadow: 0 0 4px rgba(0,0,0,0.2); border-radius: 4px;"
      data-markers="<%= @marker.to_json "
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] "></div>
    </div>
    %>
  </div>
    <br>
</div>
